
<div class="row">
    <%= form_for([@certificate, @certificate.trainings.build], :html => {:class => 'form-horizontal center'}) do |f| %>
    
    <p>
        <%=f.label :name %><br>
        <%=f.text_field(:name, {:class => 'form-control'})  %>
    </p>

    <p>
        <%=f.label :description %><br>
        <%=f.text_area(:description, {:class => 'form-control'})  %>
    </p>

    <p>
        <%=f.label :source %><br>
        <%=f.text_area(:source, {:class => 'form-control'})  %>
    </p>

    <p>
        <%=f.label :importance %><br>
        <%= f.select :importance, [['Ongoing','ongoing'],['Done','done']], {:class => 'form-control'} %>
    </p>

    <p>
        <%=f.submit({:class => 'btn btn-primary'}) %>
    </p>

    <% end %>

</div>

