
<h3>Training List</h3>
<% @certificate.trainings.each do |training| %>
    <% if training.name != nil %>
        <div class="well">
            <h4>
            <strong><%= training.name %></strong>
            </h4>

            <p>
            Description: 
            <%= training.description %>
            </p>

            <p>
            Source: 
            <%= training.source %>
            </p>

            <p>
                <% @toStart = true  %>
                <% current_user.user_training_records.each do |training_record| %>
                    <% if training.id == training_record.training_id %>
                        <% if training_record.isDone == false %>
                            <%= link_to "Done", user_training_record_path(training_record.id.to_s<<"_"<<@certificate.id.to_s), method: :put, :class => 'btn btn-sm btn-success' %> |
                            <%= link_to "Cancel", user_training_record_path(training_record.id.to_s<<"_"<<@certificate.id.to_s), 
                                                    method: :delete,
                                                    data: { confirm: 'Are you sure you want to cancel??' },
                                                    :class => 'btn btn-sm btn-danger' %>
                        <% else %>
                            Completed | 
                            <%= link_to '<i class="glyphicon glyphicon-remove"></i>'.html_safe, user_training_record_path(training_record.id.to_s<<"_"<<@certificate.id.to_s), 
                                                    method: :delete,
                                                    data: { confirm: 'Are you sure you want to remove this?' },
                                                    :class => 'btn btn-sm btn-danger' %>
                        <% end %>
                        <% @toStart = false %>
                    <% end %>
                <% end %>
                <% if @toStart == true %>
                    <%= link_to "Start", user_training_records_path(training.id.to_s<<"_"<<@certificate.id.to_s), method: :post, :class => 'btn btn-sm btn-secondary' %>
                <% end %>

                <% if current_user.isAdmin? %>
                    ---
                    <%= link_to 'Edit', edit_certificate_training_path(@certificate, training), {:class => 'btn btn-sm btn-primary'}  %> |
                    <%= link_to 'Delete', [training.certificate, training],
                        method: :delete,
                        data: {confirm: 'Are you sure?'},
                        :class => 'btn btn-sm btn-danger' %>
                <% end %> 
            </p>
        </div>
    <% end %>
<% end %>

