<div class="row">
  <div class="col-sm-12">
    <h2><%= @user.last_name << ", " << @user.first_name << " " << @user.middle_name %></h2>
    <p><strong>Email: </strong><%= @user.email %></p>
  </div>

  <div class="col-sm-12">
      <div class="col-sm-offset-2 col-sm-8">
      <table class="table table-striped text-center">
        <thead>
          <tr>
            <th class="text-center">Certificates</th>
            <th class="text-center">Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @user.user_certificate_records.each do |record|%>
            <tr>
              <td><%= record.certificate.name %></td>
              <td><%= record.status %></td>
              <td><%= link_to 'Set to Passed', user_certificate_record_path(record, :status => "Passed"), method: :put, :class => 'btn btn-sm btn-primary' if record.status == 'Taken' %></td>
          <% end %>
        </tbody>
      </table>
    </div>
    </div>
</div>