<div class="row">
  <div class="col-sm-12">
    <h2><%= @user.last_name << ", " << @user.first_name << " " << @user.middle_name %></h2>
    <p><strong>Email: </strong><%= @user.email %></p>
  </div>

  <div class="col-sm-12">
      <% @user.user_certificate_records.each do |record|%>
        <div class="well well-sm col-sm-offset-2 col-sm-8">
          <h3>
            <%= record.certificate.name %>
            <small><span class="label label-default"><%= record.status if record.status == "Ongoing" %></span></small>
            <small><span class="label label-warning"><%= record.status if record.status == "Taken" %></span></small>
            <small><span class="label label-success"><%= record.status if record.status == "Passed" %></span></small>
          </h3>
          <%= link_to 'Set to Passed', user_certificate_record_path(record, :status => "Passed"), method: :put, :class => 'btn btn-xs btn-primary' if record.status == 'Taken' %>
          <ul>
          <% @user.user_training_records.each do |training_record| %>
              <% if training_record.training.certificate_id  == record.certificate_id && training_record.isDone? %>
                <li>
                  <%= training_record.training.name %>
                </li>
              <% end %>
          <% end %>
          </ul>
        </div>
      <% end %>
  </div>

</div>