<div class="row">

    <div class="col-md-4" style="overflow-y:auto; height:600px">
    	<div class="panel">
			<% if current_user.isAdmin? %>
				<div class="panel-heading clearfix">
					<h4 class="panel-title pull-left">
						<button type="button" class="btn" data-toggle="collapse" data-target="#myCerts">My Certificates <span class="caret"></span></button>
					</h4>
				</div>
				
				<div id="myCerts" class="panel-body collapse">
					<div class="panel">
						<%= render "pages/user_panel" %>
					</div>
				</div>

				<div class="panel-body">
					<%= render "pages/admin_panel" %>
				</div>

			<% else %>
				<div class="panel-heading clearfix">
					<h4 class="panel-title pull-left">My Certificates</h4>
				</div>

				<div class="panel-body">
					<%= render "pages/user_panel" %>
				</div>
			
			<% end %>
		</div>
	</div>

	<div class="col-md-8" style="margin-top: 15px">
		<div class="panel panel-default">
			<div class="panel-heading text-center">
				<%= current_user.isAdmin? ? "FY Targets" : "Top 5 Certifications" %>
			</div>
			<div class="panel-body">
				<% if current_user.isAdmin? %>
					<div class="col-sm-12">
						<div class="col-sm-2">
							<%= form_tag authenticated_root_path, method: "get", id: "filter" do %>
  								<%= select_tag :selected_fy, options_for_select((Time.now.year).downto(Time.now.year - 100).to_a, :selected => params[:selected_fy]), :class => 'form-control', :onchange => 'this.form.submit();' %>
 							<% end %>
						</div>
					</div>

					<div class="col-sm-12">
						<%= bar_chart [
							{name: "target", data: @targets.group(:name).sum(:target_passers)},
							{name: "actual passers", data: @fy_passers.joins(:certificate).group(:name).count}
						], xtitle: "No. of Passers",  messages: {empty: "No data"}, width: "730px" %>
					</div>
				<% else %>
					<%= bar_chart @top_certs, width: "730px", xtitle: "No. of Certified Users",  messages: {empty: "No data"} %>
				<% end %>
				
			</div>
		</div>
	</div>
	
</div>
 

