
<div class="row">

  <div class="col-sm-7">
    <h2>
      <%= @certificate.name %>
      <% unless @record.blank? %>
        <small>
        <span class="label label-primary"><%= '<i class="glyphicon glyphicon-tag" style="color:yellow"></i>'.html_safe  if current_user.recommendations.exists?(:certificate_id => @certificate.id) && @record.status != "Passed" %></span>
        <span class="label label-primary"><%= '<i class="glyphicon glyphicon-certificate" style="color:yellow"></i>'.html_safe  if current_user.recommendations.exists?(:certificate_id => @certificate.id) && @record.status == "Passed" %></span>
        <span ><%= '<i class="glyphicon glyphicon-heart-empty" style="color:red"></i>'.html_safe if @record.status == "Wished" %></span>
        <span class="label label-default"><%= @record.status if @record.status == "Ongoing" %></span>
        <span class="label label-warning"><%= @record.status if @record.status == "Taken" %></span>
        <span class="label label-warning"><%= "For Retake" if @record.status == "Failed" %></span>
        <span class="label label-success"><%= @record.status if @record.status == "Passed" %></span>
        </small>
      <% end %>
    </h2>
    <p><strong>Description: </strong><%= @certificate.description %></p>
    <p><strong>Pricing: </strong><%= @certificate.exam_fee %> Php</p>
    <p><strong>Reimbursable: </strong><%= @certificate.isReimbursable == true ? "Yes" : "No" %></p>
    <br />

    <% if current_user.certificates.exists?(@certificate.id) %>
      <%= link_to 'Remove from wishlist', user_certificate_record_path(@record), method: :delete, data: {confirm: "Are you sure to remove certificate from your list?"}, :class => 'btn btn-sm btn-danger' if @record.status == 'Wished' %>
    <% else %>
      <%= link_to "Add to my wishlist", user_certificate_records_path(@certificate.id), method: :post, :class => 'btn btn-sm btn-primary' %>
    <% end %>

    <% if current_user.isAdmin? %>
      <%= link_to "Edit", edit_certificate_path(@certificate), :class => 'btn btn-sm btn-info' %>
      <%= link_to "Delete", certificate_path(@certificate), 
                    method: :delete,
                    data: { confirm: 'Are you sure?' },
                    :class => 'btn btn-sm btn-danger' %>
    <% end %>
  </div>
  <div class="col-sm-5">
    <% unless @record.blank? %>
      <% if @record.status == "Wished" || @record.status == "Ongoing" || @record.status == "Failed" %>
        <h3>Take Exam</h3>
        <%= render "exam_histories/add_exam_history" %>
      <% end %>
    <% end %>
  </div>
</div>

<hr />

<div class="row">
  <div class="<%= current_user.isAdmin ? 'col-sm-7' : 'col-sm-12' %>">
    <%= render "certificates/requisite" %>
  </div>

  <% if current_user.isAdmin? %>
    <div class="col-sm-5">
      <%= render "certificates/list_add_to_requisite" %>
    </div>
  <% end %> 
</div>

<hr />

<div class="row">
  <div class="<%= current_user.isAdmin ? 'col-sm-7' : 'col-sm-12' %>">
    <%= render "trainings/list_trainings" %>
  </div>

  <% if current_user.isAdmin? %>
    <div class="col-sm-5">
      <h3><%= @status == 'add' ? "Add" : "Edit" %> Training</h3>
      <%= render "trainings/#{@status}_trainings" %>
    </div>
  <% end %> 
</div>