
<div class="row">
    <h2><%= @certificate.name %><span class="badge badge-secondary"><%= @record.status unless @record.blank? %></span></h2>
    <p><strong>Description: </strong><%= @certificate.description %></p>
    <p><strong>Pricing: </strong><%= @certificate.exam_fee %> Php</p>
    <p><strong>Reimbursable: </strong><%= @certificate.isReimbursable == true ? "Yes" : "No" %></p>
    <br />

    <% if current_user.certificates.exists?(@certificate.id) %>
      <%= link_to 'Set to Taken', user_certificate_record_path(@record, :status => "Taken"), method: :put, :class => 'btn btn-sm btn-primary' if @record.status == 'Ongoing' %>
      <%= link_to 'Remove from wishlist', user_certificate_record_path(@record), method: :delete, data: {confirm: "Are you sure to remove certificate from your list?"}, :class => 'btn btn-sm btn-danger' unless @record.status == 'Passed' %>
    <% else %>
      <%= link_to "Add to my wishlist", user_certificate_records_path(@certificate.id), method: :post, :class => 'btn btn-sm btn-primary' %>
    <% end %>

    <% if current_user.isAdmin? %>
      <%= link_to "Edit", edit_certificate_path(@certificate), :class => 'btn btn-sm btn-info' %>
      <%= link_to "Delete", certificate_path(@certificate), 
                    method: :delete,
                    data: { confirm: 'Are you sure?' },
                    :class => 'btn btn-sm btn-danger' %>
    <% end %>
</div>

<hr />

<div class="row">
  <div class="<%= current_user.isAdmin ? 'col-sm-7' : 'col-sm-12' %>">
    <%= render "certificates/requisite" %>
  </div>

  <% if current_user.isAdmin? %>
    <div class="col-sm-5">
      <%= render "certificates/list" %>
    </div>
  <% end %> 
</div>

<hr />

<div class="row">
  <div class="<%= current_user.isAdmin ? 'col-sm-7' : 'col-sm-12' %>">
    <%= render "trainings/list_trainings" %>
  </div>

  <% if current_user.isAdmin? %>
    <div class="col-sm-5">
      <h3><%= @status == 'add' ? "Add" : "Edit" %> Training</h3>
      <%= render "trainings/#{@status}_trainings" %>
    </div>
  <% end %> 
</div>