<h2><%= @certificate.name %></h2>
<p><%= @certificate.description %></p>
<p><%= @certificate.exam_fee %> Php</p>
<p><%= @certificate.isReimbursable == true ? "Reimbursable" : "Not Reimbursable" %></p>
<hr>

<%= link_to "Edit", edit_certificate_path(@certificate), :class => 'btn btn-info' %>
<%= link_to "Delete", certificate_path(@certificate), 
                method: :delete,
                data: { confirm: 'Are you sure?' },
                :class => 'btn btn-danger' %>